@import tmn_post_styling

#hue-grad
  border: 0.1px solid gray
  height: 350px
  width: 350px
  background: linear-gradient(to right, green, rgb(255,128, 0))
  margin: auto

#sat-grad
  background: linear-gradient(to top, rgba(255, 255, 255, 0), white)
  height: 100%
  width: 100%

#color-picker-container
  padding: 2em  