@import tmn_post_styling
$light-gray: #A5ADA9

.color-picker-container
  padding: 2em 0em
  font-family: $serif-font
  font-weight: 300

  .color-picker-canvas-container, .color-picker-info-container
    display: inline-block
    width: 48%

  .color-picker-canvas-container
    margin-right: 3%

  .color-picker-info-container
    font-size: 0.75em
    vertical-align: top

    h1
      font-size: 1.5em
      margin-top: 0

    .link
      @extend .l-text-align-right


.color-picker-canvas-container
  display: block
  min-width: 360px
  width: 400px
  height: 400px
  cursor: pointer

  .hue-grad
    border: 0.1px solid gray
    height: 100%
    width: 100%
    background: linear-gradient(to right, green, rgb(255,128, 0))
    margin: auto

  .emoji
    height: 1.8em
    width: 1.8em

  .x-axis-labels
    padding-top: 15px

  .x-min
    float: left
    color: green

  .x-max
    float: right
    color: rgb(255,128, 0)

  .sat-grad
    background: linear-gradient(to top, rgba(255, 255, 255, 0), white)
    position: relative
    height: 100%
    width: 100%

  .sat-grad:before
    @extend .emoji
    content: url("../images/question_mark.svg")
    position: absolute
    display: block
    left: -15%
    opacity: 0.55

  .sat-grad:after
    @extend .emoji
    content: url("../images/exclamation_mark.svg")
    position: absolute
    display: block
    left: -15%
    top: 88%

  .color-picker-pointer
    position: relative
    cursor: pointer