.l-text-align-right, .color-picker-container .color-picker-info-container .link {
  text-align: right;
  display: block; }

p {
  margin: 1em 0;
  line-height: 1.635em; }

h1, h2 {
  font-weight: 300;
  text-align: center; }

h1 {
  font-size: 1.82em;
  margin-bottom: 1em;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300; }
  h1 a {
    text-decoration: none;
    color: #45A39A; }

/*code block styling */
code {
  font-size: 0.78em; }

body {
  font: 24.6px Cardo, Georgia, Cambria, "Times New Roman", Times, serif;
  color: #333;
  background-color: white;
  overflow: initial;
  overflow-x: hidden;
  text-align: left;
  width: 100%; }
  @media screen and (max-width: 500px) {
    body {
      font-size: 17.6px; } }
  @media screen and (max-width: 1024px) {
    body {
      width: 100%; } }
  body #container {
    width: 35.46em;
    margin: auto; }
    @media screen and (max-width: 1024px) {
      body #container {
        width: 90%;
        padding-left: 4%;
        padding-right: 4%; } }
  body .meta {
    color: #828986;
    text-align: center;
    display: block; }
  body .read-more {
    text-decoration: none;
    display: inline-block;
    padding: 0.3em;
    border-radius: 0.2em;
    background-color: #45A39A;
    color: white;
    transition: color 1s;
    -webkit-transition: color 1s; }
  body .read-more:hover {
    color: #FECFA1;
    transition: color 1s;
    -webkit-transition: color 1s; }
  body .read-more-container {
    text-align: right;
    margin-bottom: 2em; }

.post a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed #333;
  transition: color 0.5s;
  -webkit-transition: color 0.5s; }
.post a:hover {
  color: #828986;
  border-bottom: 1px dashed #828986;
  transition: color 0.5s;
  -webkit-transition: color 0.5s; }
.post h2 {
  font-size: 120%;
  color: #757C7A;
  margin: 2.2em 0em; }

.color-picker-container {
  padding: 2em 0em;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300; }
  .color-picker-container .color-picker-canvas-container, .color-picker-container .color-picker-info-container {
    display: inline-block;
    width: 48%; }
  .color-picker-container .color-picker-canvas-container {
    margin-right: 3%; }
  .color-picker-container .color-picker-info-container {
    font-size: 0.75em;
    vertical-align: top; }
    .color-picker-container .color-picker-info-container h1 {
      font-size: 1.5em;
      margin-top: 0; }

.color-picker-canvas-container {
  display: block;
  min-width: 360px;
  width: 400px;
  height: 400px;
  cursor: pointer; }
  .color-picker-canvas-container .hue-grad {
    border: 0.1px solid gray;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, green, #ff8000);
    margin: auto; }
  .color-picker-canvas-container .hue-grad:before {
    content: "Islam";
    position: relative;
    display: inline-block;
    top: 103%;
    width: 10%;
    color: green;
    height: 0; }
  .color-picker-canvas-container .hue-grad:after {
    content: "Hinduism";
    position: relative;
    display: inline-block;
    text-align: right;
    top: 3%;
    width: 100%;
    height: 0;
    color: #ff8000; }
  .color-picker-canvas-container .sat-grad {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
    height: 100%;
    width: 100%; }
  .color-picker-canvas-container .sat-grad:before {
    content: "Contemplative";
    position: relative;
    display: inline-block;
    top: 0%;
    width: 100%;
    text-align: right;
    right: 103%;
    color: #A5ADA9;
    height: 0; }
  .color-picker-canvas-container .sat-grad:after {
    content: "Dogmatic";
    position: relative;
    display: inline-block;
    top: 93%;
    width: 100%;
    text-align: right;
    right: 103%;
    color: #757C7A;
    height: 0; }
  .color-picker-canvas-container .color-picker-pointer {
    position: relative;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
